Repository spokids/GongGong_Client, pull requests merged in 2024-12, with the labels that each got.

#29 [Chore/#28] prettier 설정
  .prettierrc
  node_modules/.yarn-integrity
  package.json
  src/App.tsx
  src/api/apiUtil.ts
  src/api/axiosInstance.ts
  src/api/tokenInstance.ts
  src/components/Button/index.tsx
  src/components/Chip.tsx
  src/components/Header/index.tsx
  src/pages/Chatbot/index.tsx
  src/pages/Detail/ProgramInfo.tsx
  src/pages/Detail/Step1/components/index.tsx
  src/pages/Detail/Step1/index.tsx
  src/pages/Detail/Step2/ReviewTab.tsx
  src/pages/ProgramFinder/index.tsx
  src/pages/SignIn/index.tsx
  src/pages/SignUp/Step1/index.tsx
  src/pages/SplalshPage.tsx
  src/pages/home/components/LessonInfo.tsx
  src/pages/home/index.tsx
  yarn.lock
Labels: Chore

#44 [Feat/#41] 챗봇 api 응답값 처리 및 api 연결
  node_modules/.yarn-integrity
  package.json
  src/assets/svg/index.ts
  src/assets/svg/send.svg
  src/assets/svg/user.svg
  src/pages/Chatbot/components/AbilityChat/index.tsx
  src/pages/Chatbot/components/ChatbotInput/index.tsx
  src/pages/Chatbot/components/SenderBubble/index.tsx
  src/pages/Chatbot/index.tsx
  yarn.lock
Labels: 🎨Design, Feat

#48 [Feat/#47] 챗봇 능력 기반 api 연결
  node_modules/.yarn-integrity
  package.json
  src/App.css
  src/api/chatbotAPI.ts
  src/api/types/chatbot.ts
  src/assets/svg/index.ts
  src/assets/svg/loading.svg
  src/pages/Chatbot/components/AbilityChat/index.tsx
  src/pages/Chatbot/components/ChatbotButton/index.tsx
  src/pages/Chatbot/index.tsx
  src/pages/HomePage/LessonInfo/index.tsx
  yarn.lock
Labels: 🎨Design, Feat, ⚡️ api

#45 [Feat/#43] 로그인 api 구현
  node_modules/.vite/deps/@chakra-ui_toast.js
  node_modules/.vite/deps/_metadata.json
  src/App.tsx
  src/api/axiosInstance.ts
  src/api/hooks/login/usePostLogin.tsx
  src/api/hooks/login/usePostRegister.tsx
  src/api/loginAPI.ts
  src/api/registerAPI.ts
  src/api/types/member.ts
  src/constants/routes.ts
  src/pages/Chatbot/index.tsx
  src/pages/SignIn/index.tsx
  src/pages/SignUp/Step1/index.tsx
  src/pages/SignUp/index.tsx
Labels: ⚡️ api

#50 [Feat/#49] 자유 챗봇 api 연결 및 채팅 삭제 api 연결
  src/api/chatbotAPI.ts
  src/api/hooks/chatbot/useDeleteChatRoom.ts
  src/api/hooks/chatbot/usePostFree.ts
  src/api/types/chatbot.ts
  src/components/BotBubble/index.tsx
  src/components/ChatbotButton/index.tsx
  src/components/ChatbotInput/index.tsx
  src/components/Input/index.tsx
  src/components/SenderBubble/index.tsx
  src/constants/routes.ts
  src/pages/AbilityChat/index.tsx
  src/pages/Chatbot/components/FreeChat/index.tsx
  src/pages/Chatbot/index.tsx
  src/pages/FreeChat/index.tsx
  src/router.tsx
Labels: Refactor, Feat, ⚡️ api

#53 [Feat/#52] 로그인 및 회원가입 api 연동
  node_modules/.yarn-integrity
  package.json
  src/App.tsx
  src/api/hooks/auth/usePostRegister.tsx
  src/api/hooks/auth/usePostSignIn.ts
  src/api/hooks/login/usePostLogin.tsx
  src/api/loginAPI.ts
  src/api/registerAPI.ts
  src/api/tokenInstance.ts
  src/api/types/auth.ts
  src/assets/svg/badminton.svg
  src/assets/svg/basketball.svg
  src/assets/svg/bowling.svg
  src/assets/svg/dancing.svg
  src/assets/svg/dumbells.svg
  src/assets/svg/elliptical.svg
  src/assets/svg/fencing.svg
  src/assets/svg/fitness.svg
  src/assets/svg/golf.svg
  src/assets/svg/hollaHoop.svg
  src/assets/svg/index.ts
  src/assets/svg/jumpRoop.svg
  src/assets/svg/moreCircle.svg
  src/assets/svg/piano.svg
  src/assets/svg/rollerStake.svg
  src/assets/svg/soccer.svg
  src/assets/svg/tableTennis.svg
  src/assets/svg/tennis.svg
  src/assets/svg/tennisRacket.svg
  src/assets/svg/volleyball.svg
  src/assets/svg/warrior.svg
  src/assets/svg/yogaMat.svg
  src/components/Header/index.tsx
  src/pages/AbilityChat/index.tsx
  src/pages/Chatbot/index.tsx
  src/pages/FreeChat/index.tsx
  src/pages/ProgramFinder/index.tsx
  src/pages/SignIn/index.tsx
  src/pages/SignUp/Step1/index.tsx
  src/pages/SignUp/Step2/index.tsx
  src/pages/SignUp/index.tsx
  yarn.lock
Labels: duplicate, Feat, ⚡️ api

#51 [Feat/#46] 시군구 api 연결
  node_modules/.vite/deps/_metadata.json
  node_modules/.yarn-integrity
  package.json
  src/api/axiosInstance.ts
  src/api/hooks/auth/usePostSignIn.ts
  src/api/hooks/program/useGetSigungu.tsx
  src/api/hooks/program/useGetdong.tsx
  src/api/programAPI.ts
  src/api/types/auth.ts
  src/api/types/program.ts
  src/components/Button/index.tsx
  src/components/TabBar/index.tsx
  src/pages/HomePage/index.tsx
  src/pages/ProgramFinder/components/RegionDropdown/index.tsx
  src/pages/ProgramFinder/index.tsx
  src/pages/SignIn/index.tsx
  yarn.lock
Labels: ⚡️ api

#60 [Feat/#54] 마이페이지 및 회원탈퇴 api 연결
  src/api/authAPI.ts
  src/api/hooks/auth/useDeleteUser.ts
  src/api/hooks/auth/usePostRegister.ts
  src/api/hooks/auth/usePostSignIn.ts
  src/api/hooks/user/useDeleteReview.ts
  src/api/hooks/user/useGetReview.ts
  src/api/hooks/user/useGetScrp.ts
  src/api/hooks/user/useGetUser.ts
  src/api/loginAPI.ts
  src/api/registerAPI.ts
  src/api/types/user.ts
  src/api/userAPI.ts
  src/pages/MyPage/Step1/Tab1/index.tsx
  src/pages/MyPage/Step1/Tab2/MyReview.tsx
  src/pages/MyPage/Step1/Tab2/components/MyReviewItem/index.tsx
  src/pages/MyPage/Step1/Tab2/index.tsx
  src/pages/MyPage/Step1/index.tsx
  src/pages/MyPage/Step2/index.tsx
Labels: 🎨Design, Refactor, Feat, ⚡️ api
